* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body

{
    background-color: #1f2947;  

}

h1 {
    font-size: 48px; 
    color: #f9faf8;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 200px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    margin-bottom: 75px;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    border-radius: 5px;
    
}

.right-section {
    display: flex;
    align-items: flex-end;
    margin-left: 75px;  
    flex-shrink: 0;
    
}

.join-button {
    background-color: rgb(20, 68, 122);;
    color: white;
    padding: 15px 15px 15px 15px;
    font-size: large;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 1s, background-color 1s, color 1s;
    
}

.tweet-button {
    background-color: rgb(37, 137, 252);;
    color: white;
    padding: 15px 45px 15px 45px;
    font-size: large;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
    transition: opacity 1s, background-color 1s, color 1s;
}


.tweet-button:hover {
    background-color: white;
    color:rgb(37, 137, 252);;
    opacity: 0.6;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    transition: box-shadow 0.5s;
}

.tweet-button:active {
    background-color: rgb(37, 137, 252);
    color: white;
    opacity: 0.5;
}

.join-button:hover {
    background-color: white;
    color: rgb(20, 68, 122);;
    opacity: 0.6;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    transition: box-shadow 0.5s;
}

.join-button:active {
    opacity: 0.5;
    background-color: rgb(20, 68, 122);;
    color: white ;
}
    
.searchbar {
    font-size: 20px;
    position: relative;
    margin-right: 30px;
    bottom: 15px;
    
}

.second-section {
    background-color: white;
    text-align: center;
    border: solid salmon 5px;
    height: 500px;
    
}

.second-section-heading {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 25px;
    color: #1f2947;

}

.progress-container {
    display: flex;
    justify-content: space-evenly;   
    border: solid green;
    align-items: center;
    margin-top: 120px;
    
}   
    
.progress-container img {
    width: 150px;   
    height: 150px;
    object-fit: scale-down;
    
    
}





