body

{
background-color: #1f2947;  

}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 48px; extra-bold;
    color: #f9faf8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.join-button {
    background-color: rgb(20, 68, 122);;
    color: white;
    height: 50px;
    width: 150px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    cursor: pointer;
    
}

.tweet-button {
    background-color: rgb(37, 137, 252);;
    color: white;
    height: 50px;
    width: 150px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 8px;
    
}

.tweet-button:hover {
    background-color: rgb(0, 115, 168);
    opacity: 0.5;
}

.tweet-button:active {
    background-color: rgb(0, 247, 255);
}